* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: radial-gradient(circle, rgba(58, 80, 107, 1) 0%, rgba(28, 37, 65, 1) 100%);
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("../img/image1.png") center/1100px no-repeat;
    opacity: 0.8;
    z-index: -1;
}

header{
    width: 100%;
    display: flex;
    gap: 85%;
    padding-left: 20px;
}

header img{
    width: 85px;
    height: 85px;
    cursor: pointer;
}

.grafico{
     width: 220px;
  height: 130px;
  margin: 10px auto;
}
.graficoAtual{
    width: 550px;
    height: 280px;
    background-color: red;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}